@{
    ViewData["Title"] = "Home Page";
}
@model List<MttoListModel>





<div class="card movil">
    <div class="card-header">Lista de patrullaje de líneas</div>
    <div class="card-body">
        <div class="container-buttons-listado">

            @* <a class="btn btn-primary btn-sm" id="btnFiltrar">&#9881;</a> *@
        </div>
        <hr />


        <div class="container-items">

            <table class="table">
                <thead>
                    @if (Model.Any())
                    {
                        <tr>
                            <th>Linea</th>
                            <th>Planta</th>

                            @*          <th>realizado por</th>
                        <th>revisado por</th>
                        *@

                            <th>fecha proggramada</th>


                            @*    <th>Fecha realizada</th> *@
                            <th>Serie</th>
                            <th> Estatus </th>
                            <th>Estacion</th>
                            @*   <th>Problemas encontrados</th>
                        <th>Cambios realizados</th> *@
                           @*  <th>Comentarios</th> *@

                            @*  <th>Estado</th> *@
                            <th></th>
                        </tr>
                    }
                </thead>
                <tbody>
                    @if (Model.Any())
                    {
                        @foreach (var item in Model)
                        {
                            <tr class="container-RowData" id="idRowdata">
                                <td style="display:none" class="IdMTTO">@item.IdMTTO</td>
                                <td class="IdLinea">@item.IdLinea</td>
                                <td class="IdPlanta">@item.IdPlanta</td>


                                <td style="display:none" class="RalP" >@item.RealizadoPor</td>
                                <td style="display:none" class="RevP">@item.RevisadoPor</td>
                                <td style="display:none" class="aprvP">@item.AprobadoPor</td>

                                <td class="FechaPROG">@item.FechaPROG</td>


                                <td style ="display:none" class="FR" >@item.FechaRealiz</td>



                                <td  class="Nserie">@item.Nserie</td>
                                <td  class="Estatus">@item.Estatus</td>
                                <td  class="Estacion">@item.Estacion</td>


                                <td style="display:none" class="PE">@item.ProblemasEncontrados</td>
                                <td style="display:none" class="CR">@item.CambiosRealizados</td>



                                <td style="display:none" class="cm">@item.Comentarios</td>



                                @*          <td><img  src="@item.path_imagen" alt="" width="50px" height="50px" alt="Card image cap" loading="lazy"
                        style="aspect-ratio: 16/9;object-fit:cover;cursor:pointer;border-radius:7px"></td>
                        <td style="max-width: 300px;">
                        \   <p class="card-text-small" title="@item.comentario">
                        @item.comentario
                        </p>
                        </td>

                        <td>
                        <small>@item.FechaPROG</small>
                        <small>@item.FechaRealiz</small>
                        </td>
                        <td>
                        @if (item.estado != null)
                        {
                        <p class="right @(item.estado.Value ? "activo" : "finalizado")">
                        @(item.estado.Value ? "Activo" : "Finalizado")
                        </p>

                        }
                        </td>  *@

                                <td>
                                    <div class="container-button-liberar">
                                        @if (item.Estatus != null)
                                        {
                                            @if (item.Estatus == "activo")
                                            {
                                                <button class="btn btn-danger btn-sm" id="btnLiberarP" name="@item.IdMTTO">Liberar</button>
                                            }
                                            else if (item.Estatus == "pendiente")
                                            {
                                                <button class="btn btn-warning btn-sm" id="btnInfoLiberarP" @* name="@item.path_imagen_after" *@>pendiente</button>
                                                @*  <p style="display: none;" id="perosnaLiberaHide">@item.persona_libera</p>
                                <p style="display: none;" id="fechaLiberacion">@item.updated_at</p> *@
                                            }

                                            @*   <small>@item.created_at</small> *@

                                        }

                                    </div>
                                </td>

                                @* <td>
                        <a asp-action="Producto" asp-controller="Home" asp-route-idProducto="@item.id"
                        class="btn btn-primary btn-sm">Editar</a>
                        <a asp-action="Eliminar" asp-controller="Home" asp-route-idProducto="@item.id"
                        class="btn btn-danger btn-sm">Eliminar</a>
                        </td> *@
                            </tr>
                        }
                    }
                    else
                    {
                    <td><p>No hay registros disponibles.</p></td>
                    }


                </tbody>

            </table>


            <div class="container-card-item">
                @if (Model.Any())
                {
                    @foreach (var item in Model)
                    {
                        <div class="card item">
                            @* <img class="card-img-top" src="@item.path_imagen" alt="Card image cap" loading="lazy" /> *@
                            <div class="card-body">
                                <div class="container-description">
                                    @* <p id="idHide" style="display: none;">@item.id</p> *@
                                    <p>Planta:</p>
                                    <p class="right">@item.IdLinea</p>
                                    <p>Linea:</p>
                                    <p class="right">@item.IdPlanta</p>
                                    <p>Estación:</p>
                                    <p class="right">@item.RealizadoPor</p>
                                    <p class="right">@item.RevisadoPor</p>
                                    <p class="right">@item.FechaPROG</p>
                                    <p class="right">@item.FechaRealiz</p>
                                    @*    <p>Estado:</p>
                            @if (item.estado != null)
                            {
                            <p class="right @(item.estado.Value ? "activo" : "finalizado")">
                            @(item.estado.Value ? "Activo" : "Finalizado")
                            </p>

                            } *@

                                </div>
                                <hr>
                                <p>Comentario: </p>
                                @* <p class="card-text">
                        @item.comentario
                        </p> *@
                                <hr>
                                <div class="container-button-liberar">
                                    @if (item.Estatus != null)
                                    {
                                        @if (item.Estatus == "activo")
                                        {
                                            <button class="btn btn-danger btn-sm" id="btnLiberarP" name="@item.IdMTTO">Liberar</button>
                                        }
                                        else if (item.Estatus == "pendiente")
                                        {
                                            <button class="btn btn-warning btn-sm" id="btnInfoLiberarP" @* name="@item.path_imagen_after" *@>pendiente</button>
                                            @*  <p style="display: none;" id="perosnaLiberaHide">@item.persona_libera</p>
                            <p style="display: none;" id="fechaLiberacion">@item.updated_at</p> *@
                                        }

                                        @*   <small>@item.created_at</small> *@

                                    }

                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <p>No hay registros disponibles.</p>
                }
            </div>




        </div>



    </div>
</div>














<!-- MODAL LIBERAR-->
<div class="modal fade" id="exampleModalLiberar" tabindex="-1" aria-labelledby="exampleModalLabelLiberar"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Mantenimiento preventivos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formLiberarP" class="formUpdate">
                    @*   <div class="mb-2">
                    <label for="imageAfter">Imagen</label>
                    <input type="file" id="imagenAfter" class="form-control form-control-sm" name="imagen_after"
                    accept="image/*">
                    </div> *@

               
                    @* <div class="mb-2">
                        <label for="contra">contraseña</label>
                        <input type="password" id="contra" class="form-control form-control-sm" name="contra">
                    </div>*@


                    <hr>

                    <div class="container-buttons">
                        <button type="submit" id="btnGuardarLiberar" class="btn btn-success btn-sm">Liberar</button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>



<script type="module">
    import { $, $a } from "/js/utils.js";
    import { obtenerDatosMtto, contenedorDatos, mostrarDetalles } from '/js/MttoIndex.js'
    //document.addEventListener('DOMContentLoaded', obtenerDatosMtto);
    const filas = $a('.container-RowData');
    filas.forEach((fila) => {
        fila.addEventListener('click', mostrarDetalles);
    });
</script>